<template>
  <div class="login-view">
    <div class="left-content">
      <p class="title-label">LIM Todo</p>
      <div class="description">
        <p>LIM Todoは高度なタスク管理をあなたに提供します</p>
        <p>最高の体験を味わってください。</p>
        <p>LIM Todo provides you with advanced task management.</p>
        <p>Taste the best experience.</p>
      </div>
    </div>
    <div class="right-content">
      <h1>Login</h1>
      <KbnLoginForm :onlogin="handleLogin" />
      <video
        id="bg-video"
        src="../../assets/video2.mp4"
        controls
        autoplay
        loop/>
    </div>
  </div>
</template>

<script>
import KbnLoginForm from '@/components/molecules/KbnLoginForm.vue'

export default {
  name: 'KbnLoginView',

  components: {
    KbnLoginForm
  },

  methods: {
    handleLogin (authInfo) {
      return this.$store.dispatch('login', authInfo)
        .then(() => {
          this.$router.push({ path: '/' })
        })
        .catch(err => this.throwReject(err))
    },
    throwReject (err) { return Promise.reject(err) }
  }
}

</script>

<style scoped>

  .title-label {
    font-size: 70px;
    color: white;
  }

  .left-content {
    flex-grow: 1;
    text-align: left;
    padding-right: 30px;
  }

  .login-view {
  margin: auto;
  display: flex;
}

.right-content {
  width: 320px;
  padding: 2.5em 3em;
  font-weight: bold;
  border: solid 3px white;
  background-color: rgba(0,0,0,0.3);
}

#bg-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}
</style>
