<template>
  <div class="task">
    <KbnTaskCard/>
    <KbnTaskBody/>
  </div>
</template>

<script>
import KbnTaskCard from '@/components/molecules/KbnTaskCard.vue'
import KbnTaskBody from '@/components/molecules/KbnTaskBody.vue'

export default {
  name: 'KbnTask',

  components: {
    KbnTaskCard,
    KbnTaskBody
  }
}
</script>

<style scoped>

</style>
