<template>
  <div class="task-card-body">
    <div class="card-body">
      bodybodybody
    </div>
  </div>

</template>

<script>
export default {
  name: 'KbnTaskBody'
}
</script>

<style scoped>
.task-card-body {
  border: thin solid black;
  border-radius: 0.5em;
}
</style>
